<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>
<body onload="updatefields()">
<h2 style="color:#34a366; float:left; padding-left:243px; font-size: 20px;">Add New Lookup</h2><br>
<div class="divv" style="padding: 50px 243px 100px 243px;">
<form method="post" id="myForm1" name="myForm1" action="/Add_Lookup_data" onsubmit="return Save_Customer()"  enctype="multipart/form-data" >
<div class="card-5" style="padding: 30px 50px 40px 50px;">
<table id="maintable">
	<tr class="row">
		<td class="column1">
			<label>Lookup Type </label> </td><td >
			<select   name="lookupTypes" id="LookupTypes" class="input1" onchange="checkparentdisable()">
			<option value="">Select Lookup</option>
      		<option th:each="type : ${model.AllTypes}"
                th:value="${type.Lookup_Type}"
                th:text=${type.Lookup_Type}></option>
			</select>
		</td>
		
		<td class="column2"><label>Lookup Code </label></td><td ><input type="text" name="lookupCode" id="lookupCode" th:value="${model.Code}" disabled></td>
	</tr>
	<tr class="row">
		
	<!--	<td class="column1"><label >Lookup Name </label></td><td ><input type="text" name="LookupName" class="input1"></td>-->
		<td class="column1"><label >Lookup Name </label></td>
		<td><input type="text" name="username" id="username" style="width: 160px; float: left;"

				   title="user name should start with character"  required>

			<input class="add" type="button" id="myBtn"  value="Translate" style="margin-top: 5px;  padding: 9px 5px 9px 5px; font-size: 8px; background-color: #f2f2f2">
			<!--	<span id="namespan"  ></span>--></td>
		<td class="column2">
			<label>Parent Lookup </label> </td><td >
			<select   name="ParentLookup" id="ParentLookup"  disabled>
			<option value="">Select Lookup</option>
				<option th:each="country : ${model.AllCountries}"
						th:value="${country.LOOKUP_ID}" th:text=${country.DESCRIPTION}></option>
			</select>
		</td>
	</tr>
	<tr class="row">		
		<td class="column1"><label >Active Status </label></td><td ><input type="checkbox" name="active" id="active"  value="1" class="input1" style="float: left; margin-top: 10px;" checked></td>
	</tr>
</table>
</div>
<br><br>
<!--<input type="submit" value="Save">-->
	<input type="button" class="cancel" id="savebtn" style="background-color: #34a366; border: none;" value="Save" onclick="activeSave()">&nbsp;&nbsp; <a href="/go_home" class="cancel"> Cancel </a>


</form>

	<div id="myModal" class="modal" >

		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<h3 style="color:#34a366;">Translation</h3>
			<form id="myForm" >
				<table id="translation">
					<tr class="row" ><td class="column1"><label>Description</label> </td>
						<td ><label>Language</label></td></tr>
					<tr class="row" ><td class="column1" ><input type="text" name="us" id="us" style="margin-right: 1em; width:80%;" > </td><td style="width: 20%;"><input type="text" value="US"  disabled></td></tr>
					<tr class="row" ><td class="column1"  ><input type="text" name="ar" id="ar" style="width: 80%"></td> <td style="width: 20%;"><input type="text" value="AR"  disabled></td></tr>

				</table>
				<input class="add" style="background-color: #34a366; color: white;" type="button" onclick="validateTransForm()" value="ok" >
			</form>
		</div>
		<input type="text" name="result" id="result" th:value="${model.array}" style="display: none">

	</div>
</div>
<script src="lookup.js"></script>
<script src="validateTranslationForm.js"></script>
</body>
</html>