<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>
<body >

<div>
<form action="/resett">

<h2>Reset Password</h2><br>
<label>New Password   :</label><input type="password" name="pass" placeholder="enter new password.." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}"  title="Password must contain at least 6 characters, including UPPER,lowercase and numbers" required><br><br>
<label>Repeat Password:</label><input type="password" name="newpass" placeholder="confirm password.." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}"  title="Password must contain at least 6 characters, including UPPER,lowercase and numbers" required><br><br>
<input type="submit" value="Save">

</form>
</div>

</body>
</html>